
@{
    ViewBag.Title = "Conclusao";
}

    <div class="m-2">
        <h4 class="text-primary">
            Cadastro Concluído
        </h4>
        <h2 class="text-black-50">Seu Arquivo está em @ViewBag.conclusao</h2>
    </div>